.inter-tight{
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body{
    background-color: #F3F5FC;
}

.AluraLogo{
    margin-top: 40px;
    margin-left: 40px;
}

main{
    display: flex;
    justify-content: space-between;
    height: calc(100vh - 151px);
    width: 100%;
}

.inputTextForm{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.inputContainer{
    margin: 10% 10% 10%;
}

.button-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

textarea{
    width: 80%;
    background: none;
    border: none;
    resize: none;
}

.btn{
    width: 328px;
    height: 67px;
    border: #0A3871;
    border-radius: 24px;
}

#encryptbtn{
    background-color: #0A3871;
    color: white;
}

#decryptbtn{
    background-color: #D8DFE8;
}

.outputResult{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    width: 400px;
    height: 90%;
    margin: 40px 10%;
    background-color: white;
    border-radius: 32px;
}

footer{
    width: 100%;
    height: 60px;
    background-color: #0A3871;
    color: white;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

footer p{
    margin: 0 20px;
}

.social-networks{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.social-networks img{
    margin: 0 10px;
    width: 30px;
    height: 30px;
}

@media (max-width:768px) {
    body{
        background-color: red;
    }

    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: auto;
        width: 100%;
    }

    .inputTextForm{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }

    .inputContainer{
        margin: 10% 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .button-container{
        width: 70%;
    }

    .btn{
        width: 80%;
    }

    .outputResult{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 80px;
        width: 80%;
        height: 90%;
        background-color: white;
        border-radius: 32px;
        overflow: hidden;
    }

    .outputResult > svg {
        display: none;
    }

    footer{
        position: static;
    }
}

@media (max-width:375px) {
    body{
        background-color: blue;
    }

    .button-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}